#cardBorder {
  border: 5px solid yellow;
}

.cardImg {
  height: 400px;
  width: 300px;
  transition: transform .2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardImg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  opacity: 90%;
}

.pokemonCollectionHeader {
  text-align: center;
}

.cardHeader {
  text-align: center;
}

.descriptionHeader {
  text-align: center;
}

.specificationHeader {
  text-align: center;
}

html {
  background: repeating-linear-gradient(45deg, white, lemonchiffon,white, lightyellow, white, lemonchiffon, white, lightyellow, white, lemonchiffon, white, lightyellow, white, lemonchiffon, white, lightyellow, white, lemonchiffon, white); 
}

#header {
  background: black;
  border: 3px solid yellow;
  opacity: 90%;
  padding: 1%;
  overflow: hidden;
  height: 55px;
}

#header img {
  float: left;
  box-shadow: none;
}

#header ul {
  list-style: none;
  float: left;
  padding-left: 10px;
  margin-top: 15px;
}

#header ul li {
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.fullscreen {
  height: 95%;
  position: relative;
}

.fullscreen .header {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
}


.nopadding {
  padding: 0;
}

